/* Font
----------------------------------------------------------------------------- */

@font-face {
  src: url("/assets/font/Roobert-Medium.woff2") format("woff2");
  font-family: "Suman Sans";
  font-style: normal;
  font-weight: 500;
}

:root {
  --font--family: "Suman Sans", system-ui, sans-serif;
  --font--mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
  font-family: var(--font--family);
  font-style: var(--font--style);
  font-weight: var(--font--weight);
  font-feature-settings: var(--font--feature-settings);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code, pre, kbd, samp, .font-mono {
  font-family: var(--font--mono) !important;
}

html {
  font-size: var(--font--size-regular);
  line-height: var(--font--size-regular-line-height);
}

