

/* Media queries
----------------------------------------------------------------------------- */


/* 12 columns */
@media all and (max-width: 1280px) {

  body {
    --font--size-huge: clamp(36px, 6.35vw, 6.35vw);
    --font--size-large: clamp(26px, 2.24vw, 2.24vw);
  }
  .section > .content {
    grid-column: 3 / -1;
  }
}

/* 6 columns */
@media all and (max-width: 1020px) {

  body {
    --grid--app-margin: 20px;
    --grid--app-columns: var(--grid--app-columns-6);
    --font--size-huge: clamp(36px, 7.77vw, 7.77vw);
    --font--size-large: clamp(22px, 2.74vw, 2.74vw);
    --font--size-medium: 22px;
  }
  .app-grid-overlay .column:nth-child(n+7) {
    display: none;
  }
  .app-header > .content {
    padding: 8px 0;
  }
  .app-header .brand {
    padding: 10px 0 14px 0;
  }
  .app-header .brand h3 {
    line-height: 24px;
  }
  .app-header .actions {
    gap: 8px;
  }


  .section > .content {
    grid-column: 1 / -1;
  }
  .look {
    margin-top: -24px;
    margin-left: -7px;
  }
  .app-aside {
    left: var(--grid--app-margin);
    bottom: var(--grid--app-margin);
  }
}

/* 3 columns */
@media all and (max-width: 760px) {

  body {
    --grid--app-columns: var(--grid--app-columns-3);
  }
  .app-grid-overlay .column:nth-child(n+4) {
    display: none;
  }
  .section.contact > .content {
    grid-template-columns: var(--grid--app-columns);
  }
}

/* 2 columns */
@media all and (max-width: 500px) {

  body {
    --grid--app-margin: 16px;
    --grid--app-columns: var(--grid--app-columns-2);
    --grid--app-gutter: 16px;
    --font--size-huge: clamp(32px, 7.5vw, 7.5vw);
    --font--size-large: clamp(22px, 2.64vw, 2.64vw);
  }
  .app-grid-overlay .column:nth-child(n+3) {
    display: none;
  }
  .section h1 {
    line-height: 1;
  }
  .section.contact .text .content {
    max-width: none;
  }
}

